<html>
    <head>
        <title>Info System</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui secondary  menu">
            <a class="item"><i class="book icon"></i></a>
            <a href="/" class="item">
              Home
            </a>
            <a  href="/students/new" class="item">
             Data 
            </a>
            <a  href="/stats" class="item">
              Stats
            </a>
            </div>
          </div>
              
   